<h1>All Restaurants</h1>

<p>List of all the resto's that you can choose from</p>

<% @restaurants.each do |restaurant| %>
	
	<p><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %>
	<br />
	<br />
	<textarea maxlength="50"><%= restaurant.description %></textarea>
	</p>
	<br />

<% end %>
