<h1>Restaurants Show</h1>

<%= link_to "Back to Restaurants", restaurants_url %> 
<p><%= @restaurant.name %></p>
<br>
<p><%= @restaurant.description %></p>
<br>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>